<p>This is the Detail view</p>
<p>
    <ul>
        <li>Id: {{device.id}}</li>
        <li>Name: {{device.name}}</li>
        <li>Ports: <ul>
            <li ng-repeat="port in device.ports">
                <input type="radio" name="number" id="select-port-{{$index}}" ng-model="$parent.num" value="{{$index}}"><label for="select-port-{{$index}}">Port {{$index}} {{port.name}}</label>
            </li>
        </ul></li>
    </ul>
    <div>
        <h3>Port {{num}}: {{device.ports[num].name}}</h3>
        <ul>
            <li>Type: {{device.ports[num].type}}</li>
            <li>Subtype: {{device.ports[num].subtype}}</li>
            <li>Samples: {{device.ports[num].data_history.length}}</li>
        </ul>
        <d3-graph data="device.ports[num].data_history"></d3-graph>
    </div>
</p>
